.about img{
  box-shadow: 10px 10px 73px 0px rgba(189,101,112,0.7);
  -webkit-box-shadow: 10px 10px 73px 0px rgba(189,101,112,0.7);
  -moz-box-shadow: 10px 10px 73px 0px rgba(189,101,112,0.7);
}
h1{
  font-size: 3rem;
  font-weight: 700;
}
.progress{
  background-color: #ddd2d2;
  justify-content: flex-start;
  border-radius: 50px;
  align-items: center;
  position: relative;
  display: flex;
  height: 25px;
  width: 100%;
}
.pro-vlaue1{
  animation: load1 3s normal forwards;
  border-radius: 50px;
  background-color: black;
  height: 25px;
  width: 0;
}
.pro-vlaue2{
  animation: load2 3s normal forwards;
  border-radius: 50px;
  background-color: black;
  height: 25px;
  width: 0;
}
.pro-vlaue3{
  animation: load3 3s normal forwards;
  border-radius: 50px;
  background-color: black;
  height: 25px;
  width: 0;
}
.pro-vlaue4{
  animation: load4 3s normal forwards;
  border-radius: 50px;
  background-color: black;
  height: 25px;
  width: 0;
}
.pro-vlaue5{
  animation: load5 3s normal forwards;
  border-radius: 50px;
  background-color: black;
  height: 25px;
  width: 0;
}
.progress p{
  color: white;
  padding: 4px;
  font-weight: 800;
}
@keyframes load1 {
  0%{
    width: 0;
  }
  100%{
    width: 60%;
  }
}
@keyframes load2 {
  0%{
    width: 0;
  }
  100%{
    width: 50%;
  }
}
@keyframes load3 {
  0%{
    width: 0;
  }
  100%{
    width: 30%;
  }
}
@keyframes load4 {
  0%{
    width: 0;
  }
  100%{
    width: 40%;
  }
}
@keyframes load5 {
  0%{
    width: 0;
  }
  100%{
    width: 70%;
  }
}
.btn1{
  height: 40px;
  width: 145px;
  outline: none;
  border-radius: 10px;
  border: none;
  font-weight: 800;
  background-color: black;
  color: white;
}
.btn1:hover{
  background-color: white;
  color: black;
  transition: 1s;
}
