<section id="contact" class="full-height px-lg-5">
  <div class="container">

    <div class="row justify-content-center text-center pb-4" data-aos="fade-up">
      <div class="col-lg-8 pb-4">
        <h6 class="text-brand"> CONTACT</h6>
        <h1>Welcome</h1>
      </div>
      <div class="col-lg-8">
        <form action="" class="row g-lg-3 gy-3">
          <div class="form-group col-md-6">
            <input type="text" class="form-control" placeholder="Entrer votre nom">
          </div>
          <div class="form-group col-md-6">
            <input type="email" class="form-control" placeholder="Entrer votre email">
          </div>
          <div class="form-group col-12">
            <input type="text" class="form-control" placeholder="Entrer votre sujet">
          </div>
          <div class="form-group col-12">
            <textarea name="" id="" rows="4" class="form-control" placeholder="Entrer votre message"></textarea>
          </div>
          <div class="form-group col-12 d-grid">
          <button style="background-color: gold" type="submit" class="btn btn-brand">Contact me</button>
          </div>


        </form>
      </div>
    </div>
  </div>
  <br><br><br><br>

</section>
