.main {
  background: white;
  width: 100%;
}
.main h3{
  font-size: 4.4rem;
  font-weight: 700;
}
.main h6{
  font-size: 1.4rem;
  text-transform: uppercase;
  color: #034f57;
}
.main .btn1 {
  height: 55px;
  width: 138px;
  background-color: #e01c1c;
  color: wheat;
  border: none;
  font-weight: bold;
  border-radius: 5px;
}
.main .btn1:hover {
  background-color: #a10b0b;
  transition: 0.5s;
}
.main .btn2 {
  height: 55px;
  width: 138px;
  background: transparent;
  color: #e01c1c;
  border: 1px solid #e01c1c;
  font-weight: bold;
  border-radius: 5px;
}
.main .btn2:hover {
  background-color: #e01c1c;
  transition: 0.5s;
  color: white;
}

