<div class="container">
  <div class="row">
    <!--NOM-->
    <div class="col-lg shadow border m-1">
    <div class="text-center">
      <h2>Nom</h2>
      <img src="/assets/img.jpg" alt="profile picture" width="360" height="360" CLASS="rounded-circle">
       <p>"Je m’appelle Omayma Gamrani,
         j’ai 25 ans et je vis à Béni Mellal.
         Diplômée d’une licence en Droit Privé,
         je suis passionnée par les enjeux juridiques et sociaux.
         Rigoureuse et déterminée, j’aspire à contribuer à un système plus juste.
         Curieuse d’esprit, j’aime aussi la lecture et les échanges enrichissants.
         Mon objectif ? Allier expertise et humanité dans mon parcours professionnel."</p>
    </div>
    </div>
    <!--Role-->
  <div class="col-lg shadow border m-1">
    <div class="text-center">
      <h2>Project</h2>
    </div>
  </div>



  </div>
</div>
